.form-collection {
  position: relative;
  background-color: white;
  padding: 20px 50px !important;
  width: 80vw;
  border-radius: 10px;
}
.temporaryEl{
  display: none;  
  left: 50%;
  position: absolute;
  width: 200px;
  height: 35px;
  background-color: rgb(238, 238, 238);
  border: 1px solid lightgray;
  opacity: 0.7;
  border-radius: 5px;
  text-align: center;
  transform: translateX(-50%);
  z-index: 20;
}
